* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	max-width: 600px;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 20px;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.container h1 {
	text-align: center;
	margin-bottom: 30px;
}

.container form {
	display: flex;
	flex-direction: column;
}

.container label {
	font-weight: bold;
	margin-bottom: 5px;
}

.container input, textarea {
	padding: 10px;
	margin-bottom: 20px;
	border-radius: 5px;
	border: none;
	background-color: #f2f2f2;
}

.container textarea {
	height: 150px;
}

.container button {
	background-color: #4CAF50;
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.container button:hover {
	background-color: #3e8e41;
}